#items { float: left; width: 25% }
#item-list { list-style-type: none; padding: 0; margin: none }

.item .icon { margin-right: 100px }
.item { color: #000 }
.cover { width: 150px; margin: auto }
.title { font-weight: bold; font-size: 110% }
.author { font-style: italic; font-size: 100% }
.date { font-size: 90% }
