/* need to shift the jqtree div to the right a bit */
#category { padding-left: 20px }

/* document (for pdfjs) should take up entire page */
#doc { left: 0%; width: 100%; height: 100% }
#doc iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.attachment-cover {
  max-width: 100px;
}

#tooltip-tts {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  opacity: 0.85;

  font-size: 200%;
}

#tooltip-tts h3, #tooltip-tts div { margin: 0; }

.highlight-tts {
  border-bottom:1px solid red; /* coloured underline */

  /* highlighting works fine in pdf2htmlEX, but not in pdfjs
   * because of the way the text layer is handled
   */
  background-color: yellow;
  opacity: 0.25;

  font-weight: bolder;
}
